

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}


#howto{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
   
}


.word-counter-container {
    margin-top:150px;
    max-width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




.word-counter-container h2 {
    color: #333;
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 20px;
}

#textArea {
    display: block;
    width: 100%;
    height: 200px;
    padding: 24px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
    resize: vertical;
    font-size: 16px;
    resize: none;
    max-width: 800px;
    line-height: 2;
    margin: 0 auto;
}

#wordCount {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}   

#charsCount {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}


#readTime {
    padding-left: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}



#clearButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#clearButton:hover {
    background-color: #218838;
}   

hr {
    margin: 20px auto;
    border: 0;
    border-top: 1px solid #ccc;
}

 #results span{ 
    display: inline-block;
   margin: 10px 0 10px 0;
    text-align: left;
 
}